@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

* {
  font-family: Nunito, sans-serif;
}

.size {
  height: 10px;
  font-weight: bold;
}

.nav {
  background-color: #2f3c4a;
}
